
main
a.out
studentas_test


*.o

generuoti1000.txt
generuoti10000.txt
generuoti100000.txt
generuoti1000000.txt
generuoti10000000.txt
studentai1000.txt
studentai10000.txt
studentai100000.txt
studentai1000000.txt
rez.txt
maladiec.txt
vargsai.txt
kursiokai.txt
installer.iss


.DS_Store
